body {
	color: #444;
	font: 16px Georgia, serif;
	margin: 1em auto;
	max-width: 36em;
	line-height: 1.5;
}

em, strong { color: black; }

h1, h2, h3, h4, th {
	font-family: Calibri, sans-serif;
	margin: 0;
	color: #4d8cbf;
}

h1 { font-size: 2.0em; line-height: 3; }
h2 { font-size: 1.5em; line-height: 2; }
h3 { font-size: 1.0em; line-height: 3; }

img { border: 0; }

pre,
code,
.pre {
	color: #080;
}

pre, .pre {
	margin: 1.5em;
	padding-left: 1em;
	border-left: 1px solid #ccc;
}

a,
a code {
	color: #216093;
}

table {
	border-collapse: collapse;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1.5em;
}

th {
	text-align: left;
	border-bottom: 1px solid #ccc;
}

td {
	border: 0;
	padding: 0.2em 0.5em 0.2em 0;
}

tr:nth-child(even) {
	background-color: #f3f3ff;
}

p {
	margin: 0;
	margin-bottom: 1.5em;
}

td, th {
	text-align: right;
}
